flatbuffers==24.3.25
libclang==18.1.1
namex==0.0.8
numpy==2.4.0
packaging==25.0
pillow==11.1.0
pygame==2.6.1
PyGetWindow==0.0.9
Pygments==2.18.0
pyparsing==3.3.1
PyRect==0.2.0
python-dateutil==2.9.0.post0
setuptools==75.6.0
six==1.17.0
tensorboard-data-server==0.7.2
termcolor==2.5.0
typing_extensions==4.12.2
urllib3==2.2.3
wheel==0.45.1
wrapt==1.17.0
